/* BEGIN EXTERNAL SOURCE */
h1 {
text-transform: uppercase; font-weight: bold;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-bottom: 10px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
li {
margin-bottom:15px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
li {
margin-bottom:10px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
li {
margin-bottom:10px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
li {
margin-bottom:10px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
li {
margin-bottom:10px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
li {
margin-bottom:10px
}
/* END EXTERNAL SOURCE */
