/* BEGIN EXTERNAL SOURCE */
h2 {
text-transform: uppercase; font-weight: bold; color: #6400FF; font-sio: 30px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
XTERNAL SOURCE */
img {
width: 200px; height: 200px;
}
/* END E/* BEGIN EXTERNAL SOURCE */
td {
text-align: justify text
}
/*  END EXTERNAL SOURCE */
XTERNAL SOURCE */
