@{
    ViewBag.Title = "Políticas de Privacidade";
}

<div class="container-fluid" style="text-align:justify">
    <div class="row col-10 offset-1">
        <h1 class="text-center" style="text-transform: uppercase; color: #5A20B5; font-weight: 700; font-size: 40px;">Políticas de Privacidade</h1>
        <p class="text-center">Na PetLife, levamos a privacidade dos nossos usuários muito a sério e queremos garantir que suas informações pessoais sejam protegidas. Esta página descreve detalhadamente como coletamos, usamos, armazenamos e mantemos seguras as informações que recebemos dos nossos usuários. Ao utilizar nosso site, você concorda com as práticas descritas nesta política de privacidade, que visam proteger seus dados.</p>
        <hr />
        <h4>Compras pelo site</h4>
        <p>Quando você realiza uma compra em nosso site, precisamos coletar algumas informações para processar seu pedido e garantir a entrega dos produtos ou serviços solicitados. Essas informações podem incluir seu nome, endereço de entrega, detalhes de pagamento e informações de contato. Queremos assegurar que essas informações sejam utilizadas exclusivamente para o processamento do seu pedido, e não são compartilhadas com terceiros, a menos que seja estritamente necessário para a realização da entrega.</p>

        <h4>LGPD - Lei Geral de Proteção de Dados</h4>
        <p>
            A PetLife está em conformidade com a Lei Geral de Proteção de Dados (LGPD), que é uma legislação brasileira que estabelece regras e diretrizes para o tratamento de dados pessoais. Nós respeitamos seus direitos como titular dos dados e estamos comprometidos em proteger sua privacidade. Abaixo estão os principais aspectos relacionados à LGPD e como a PetLife lida com eles:

        </p>
        <ol style="padding-left: 50px">
            <li>
                Bases legais: Coletamos e processamos seus dados pessoais com base em uma ou mais das seguintes bases legais: consentimento, execução de contrato, cumprimento de obrigação legal, proteção de crédito, exercício regular de direitos e interesses legítimos.

            </li>
            <br />
            <li>
                Finalidades do tratamento: Utilizamos seus dados pessoais para as finalidades especificadas nesta política de privacidade, como processamento de pedidos, prestação de serviços, comunicação com você, personalização da experiência do usuário, marketing direto, entre outras finalidades legítimas.

            </li>
            <br />
            <li>
                Direitos do titular dos dados: Você tem direitos garantidos pela LGPD, como o direito de acesso, correção, exclusão, oposição, portabilidade e revogação do consentimento. Para exercer esses direitos, entre em contato conosco por meio dos canais disponíveis nesta política.

            </li>
            <br />
            <li>
                Compartilhamento de dados: Podemos compartilhar seus dados pessoais com terceiros quando necessário para a prestação de serviços, cumprimento de obrigações legais, proteção de direitos, prevenção de fraudes ou com o seu consentimento. Sempre que compartilharmos seus dados, tomaremos medidas para garantir a proteção adequada dessas informações.

            </li>
            <br />
            <li>
                Segurança dos dados: Implementamos medidas de segurança técnicas e organizacionais para proteger seus dados pessoais contra acesso não autorizado, uso indevido, alteração, destruição ou divulgação. Adotamos práticas e procedimentos de segurança para garantir a confidencialidade e integridade dos seus dados.

            </li>
            <br />
            <li>
                Retenção de dados: Manteremos seus dados pessoais apenas pelo tempo necessário para cumprir as finalidades para as quais foram coletados, a menos que haja uma obrigação legal ou justificativa legítima para a retenção por um período mais longo.

            </li>
        </ol>
        <h4>Cookies</h4>
        <p>Utilizamos cookies para aprimorar sua experiência em nosso site. Um cookie é um pequeno arquivo de texto armazenado em seu dispositivo quando você visita nosso site. Os cookies nos ajudam a fornecer funcionalidades personalizadas, lembrar suas preferências e analisar o desempenho do site. É importante destacar que você pode controlar e gerenciar os cookies nas configurações do seu navegador, permitindo que você tenha controle sobre sua privacidade enquanto navega em nosso site.</p>

        <h4>Formulários</h4>
        <p>Em determinadas áreas do nosso site, oferecemos a possibilidade de preenchimento de formulários para entrar em contato conosco, solicitar informações ou se cadastrar em nossos serviços. As informações fornecidas através desses formulários são utilizadas exclusivamente para responder às suas solicitações ou fornecer os serviços solicitados. Não compartilhamos essas informações com terceiros, a menos que seja necessário para atender às suas solicitações e garantir uma comunicação eficiente.</p>

        <h3>Serviços abrangentes</h3>
        <p>Na PetLife, oferecemos uma ampla gama de serviços de saúde para pets, visando atender às necessidades de cuidados e bem-estar de seus companheiros de quatro patas. Nossos planos de saúde para pets incluem consultas veterinárias, exames clínicos, vacinas, cirurgias, tratamentos especializados e muito mais. Estamos comprometidos em fornecer serviços abrangentes que garantam uma vida longa e saudável para seus animais de estimação.</p>

        <h4>Rede de profissionais qualificados</h4>
        <p>Trabalhamos com uma extensa rede de veterinários altamente qualificados e clínicas veterinárias parceiras, que compartilham nossa paixão por oferecer os melhores cuidados para os pets. Nossa equipe de profissionais dedicados está pronta para fornecer diagnósticos precisos, tratamentos eficazes e orientações especializadas, garantindo que seu animal receba a atenção necessária em todas as etapas de sua saúde.</p>

        <h4>Emergências 24 horas</h4>
        <p>Entendemos que emergências médicas podem ocorrer a qualquer momento, por isso estamos disponíveis 24 horas por dia, 7 dias por semana, para fornecer suporte veterinário em situações de urgência. Nosso serviço de atendimento de emergência está pronto para responder prontamente a qualquer problema de saúde que seu pet possa enfrentar, oferecendo tranquilidade e cuidados rápidos quando mais importa.</p>

        <h4>Programas de prevenção e bem-estar</h4>
        <p>Acreditamos que a prevenção é fundamental para a saúde de um pet. Por isso, oferecemos programas abrangentes de prevenção e bem-estar, que incluem check-ups regulares, vacinação, desparasitação, orientação nutricional e cuidados dentários. Nossos programas personalizados visam manter seu animal saudável e prevenir doenças, garantindo uma qualidade de vida excepcional ao seu companheiro peludo.</p>

        <h4>Benefícios adicionais</h4>
        <p>Além dos serviços de saúde, nossos planos de saúde para pets também oferecem benefícios adicionais, como descontos em medicamentos, acessórios para pets, serviços de banho e tosa, e até mesmo sessões de treinamento comportamental. Queremos que você tenha acesso a uma gama completa de cuidados e serviços para o seu pet, tornando a experiência da PetLife ainda mais valiosa e conveniente.</p>

        <h4>Atendimento personalizado</h4>
        <p>Na PetLife, valorizamos o relacionamento próximo com nossos clientes e seus pets. Oferecemos um atendimento personalizado, ouvindo suas necessidades e preocupações, e adaptando nossos serviços de acordo com as características e exigências de cada animal. Nosso objetivo é estabelecer uma parceria duradoura e confiável com você, fornecendo suporte e orientação em todas as etapas da vida do seu pet.</p>

        <h4>Fique tranquilo, cuidamos de tudo!</h4>
        <p>Nosso objetivo é aliviar suas preocupações quando se trata da saúde e bem-estar do seu pet. Com os nossos planos de saúde, você pode ficar tranquilo sabendo que está proporcionando o melhor cuidado possível para seu companheiro. Deixe-nos cuidar de todos os aspectos da saúde do seu pet, para que você possa desfrutar de momentos preciosos ao lado deles, sabendo que estão em boas mãos.</p>

        <p class="text-center" style="text-transform: uppercase; color: #5A20B5; font-weight: 700"> Caso tenha alguma dúvida sobre nossas políticas de privacidade, nossa equipe está à disposição para auxiliá-lo. Entre em contato conosco através dos canais de atendimento disponíveis, e teremos o prazer de esclarecer qualquer dúvida adicional e garantir que sua privacidade seja sempre protegida.</p>
    </div>
</div>
