@{
    ViewBag.Title = "Sobre Nós -";
}
<h1 class="text-center" style="text-transform: uppercase; font-weight: bold; color: #6400FF">Sobre</h1>
<div class="container-fluid" style="text-align:justify">
    <p>
        A Petz-Life é uma empresa dedicada ao cuidado e bem-estar dos animais de estimação. Nossa missão é proporcionar serviços de qualidade, garantindo o conforto e a saúde dos animais. Nosso compromisso é oferecer um atendimento completo e personalizado, atendendo às necessidades específicas de cada animal. Contamos com uma equipe de profissionais altamente qualificados e apaixonados por animais.
        <br />Oferecemos uma variedade de serviços, incluindo consultas veterinárias, cirurgias, exames laboratoriais, vacinação, banho e tosa, além de planos de saúde para garantir o cuidado contínuo do seu pet.
        Estamos comprometidos com a transparência e o respeito aos nossos clientes. Valorizamos a confiança depositada em nós para cuidar dos seus animais de estimação, e trabalhamos duro para garantir a satisfação de todos.
    </p>
</div>
<hr />
<h2 class="text-center" style="text-transform: uppercase; font-weight: bold; color: #6400FF; margin-bottom:15px">Nossa História</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <p style="text-align:justify">
                Maycon, Marcus, Pedro, Guilherme e Caique, cinco amigos inseparáveis, compartilhavam uma paixão em comum que os impulsionou a criar algo grandioso: uma empresa de Plano de Saúde para Pets. Movidos por seu amor pelos animais e determinação em fornecer cuidados excepcionais, eles uniram suas forças e fundaram a renomada Petz-Life.
                <br />
                Com um compromisso inabalável e uma dedicação incansável, a Petz-Life logo se destacou na região, estabelecendo-se como referência ao oferecer serviços de alta qualidade e um atendimento amoroso aos animais. Transformaram-se em um verdadeiro refúgio confiável para os donos de pets, proporcionando um ambiente acolhedor onde os profissionais capacitados tratavam cada animalzinho como se fosse seu próprio companheiro de quatro patas, garantindo assim seu bem-estar e felicidade.
                <br />
                A visão da empresa ia além de apenas oferecer serviços de saúde para animais. A Petz-Life compreendia a importância da conexão entre pets e seus donos, promovendo laços fortes e uma relação de confiança mútua. Por meio de um atendimento personalizado, a empresa criava um vínculo duradouro com cada cliente, mostrando-se sempre disponível para auxiliar em qualquer necessidade relacionada à saúde e ao bem-estar de seus amados animais!
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/Imagens/cachorro e gato.png" alt="Imagem Ilustrativa" class="img-fluid" style="width:80%; margin-left:10%">
        </div>
    </div>
    <div class="row justify-content-center" style="background: rgba(171, 131, 255, 0.5); width: 100%; padding: 25px; border-radius: 50px;">
        <div class="col-md-12 text-center">
            <h4 style="text-transform: uppercase; color: #5A20B5; font-weight: 700; font-size: 25px;">Tenha acesso ao melhor atendimento da sua região</h4>
        </div>
        <div class="col-md-6">
            <div class="content text-center">
                <img src="~/Imagens/gato-dormindo.png" alt="Ícone 1" style="width:20%">
                <h4 style="font-weight: 600; font-size: 25px; color: #5A20B5;">Atendemos na sua residência</h4>
                <p style="font-weight: 400; font-size: 15px;">Nossa rede credenciada conta com profissionais que atendem seu pet a domicílio. Assim, ele pode ser cuidado no conforto de casa, sem o estresse de sair.</p>
            </div>
            <div class="content text-center">
                <img src="~/Imagens/cachorro-veterinario.png" alt="Ícone 2" style="width:10%">
                <h4 style="font-weight: 600; font-size: 25px; color: #5A20B5;">Atendimento apenas com especialistas</h4>
                <p style="font-weight: 400; font-size: 15px;">Neurologistas, dermatologistas, fisioterapeutas, oftalmologistas, ortopedistas, anestesistas, endocrinologistas podem estar próximos de você, confira na nossa rede.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="content text-center">
                <img src="~/Imagens/24-horas.png" alt="Ícone 3" style="width:10%">
                <h4 style="font-weight: 600; font-size: 25px; color: #5A20B5;">Funcionamento 24 horas</h4>
                <p style="font-weight: 400; font-size: 15px;">Nossa rede de clínicas veterinárias possui um Plantão 24h, garantindo atendimento e dedicação ao seu pet em qualquer situação inesperada. Priorizamos o bem-estar dos animais, com cuidados de qualidade em tempo integral!</p>
            </div>
            <div class="content pt-3 text-center">
                <img src="~/Imagens/clinica-veterinaria.png" alt="Ícone 4" style="width:10%">
                <h4 style="font-weight: 600; font-size: 25px; color: #5A20B5;">Somente clínicas 5 estrelas</h4>
                <p style="font-weight: 400; font-size: 15px;">Valorizamos a opinião de cada pessoa que utiliza os nossos serviços, acreditamos que a experiência dos clientes quando positiva é crucial para a qualidade dos atendimentos que oferecemos.</p>
            </div>
        </div>
    </div>
</div>